# Node
node_modules/
dist/

# Environment
.env
.env.local
.env.*.local

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/*/migration.sql
